@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fira Sans", sans-serif;
  color: #0e0e0e;
  background-color: #f1f1f3;
}

header,
section {
  margin-bottom: 80px;
}

/* Common Styles */

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 160px;
}

.primary-btn {
  padding: 17px 34px;
  background-color: #006a50;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.primary-btn:hover {
  background-color: #005043;
}

.section-title {
  font-size: 40px;
  font-weight: 700;

  margin-bottom: 32px;
}

.section-description {
  font-size: 16px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.7);
  margin-bottom: 32px;
}

.cards {
  display: flex;
  gap: 24px;
}

/* Navbar Section  */

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}

#navbar h1 {
  font-size: 32px;
  font-weight: 700;
}

#navbar button {
  background-color: transparent;
  cursor: pointer;
  padding: 15px 30px;
  color: #006a50;
  border: 1px solid #006a50;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
}

#navbar button:hover {
  background-color: #006a50;
  color: #ffffff;
}

/* Hero Section */
.hero {
  background-color: #c6e4d6;
  display: flex;
  justify-content: space-between;
  gap: 64px;
  align-items: center;
  padding: 80px 100px;
  border-radius: 24px;
  margin-top: 20px;
}

.hero h2 {
  font-size: 24px;
  font-weight: 500;
  color: rgba(13, 13, 13, 0.5);
}

.hero h1 {
  font-size: 56px;
  font-weight: 700;

  margin: 16px 0 24px 0;
}

/* Pillar Card Section */
.pillar-card {
  width: 302px;
  background-color: #ffffff;
  padding: 24px;
  border-radius: 16px;
  border: 1px solid rgba(14, 14, 14, 0.15);
}

.pillar-card img {
  width: 64px;
  margin-bottom: 24px;
}

.pillar-card h3 {
  font-size: 20px;
  font-weight: 700;

  margin-bottom: 12px;
}

.pillar-card p {
  font-size: 16px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.7);
}

/* Vision Card Section */
.vision-card {
  padding: 32px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 411px;
}

.vision-card-blue {
  background-color: rgba(84, 143, 245, 0.2);
}

.vision-card-blue button {
  background-color: #5490f5;
  cursor: pointer;
}

.vision-card-blue button:hover {
  background-color: #3a6fcd;
}

.vision-card-green {
  background-color: #c6e4d6;
}

.vision-card-green button {
  background-color: #09a15c;
  cursor: pointer;
}

.vision-card-green button:hover {
  background-color: #007b44;
}

.vision-card-yellow {
  background-color: #f7ebcf;
}

.vision-card-yellow button {
  background-color: #ffc239;
  cursor: pointer;
}

.vision-card-yellow button:hover {
  background-color: #e6a00f;
}

.vision-card img {
  width: 64px;
  margin-bottom: 24px;
}

.vision-card h3 {
  font-size: 20px;
  font-weight: 700;

  margin-bottom: 12px;
}

.vision-card p {
  font-size: 16px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.7);
}

.vision-card button {
  width: fit-content;
  margin-top: 24px;
  padding: 11px 20px;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
}

/* Quote Section */
.quote {
  background-image: url("../assets/quote-bg.png");
  background-position: 24px 24px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  padding: 48px 24px;
}

.quote p {
  font-size: 16px;
  font-weight: 400;
  color: rgb(14, 14, 14, 0.8);
  margin-bottom: 12px;
}

.quote h3 {
  font-size: 20px;
  font-weight: 600;
  color: rgb(14, 14, 14, 0.8);
  margin-bottom: 4px;
}

.quote h4 {
  font-size: 16px;
  font-weight: 400;
  color: rgb(14, 14, 14, 0.6);
}

/* Opinion Section */
.opinion {
  padding: 32px;
  background-color: #ffffff;
  border-radius: 16px;
}

.opinion table {
  width: 100%;
  border-collapse: collapse;
}

.opinion thead {
  background-color: #c6e4d6;
}

.opinion th,
.opinion td {
  border: 1px solid rgba(14, 14, 14, 0.15);
  padding: 24px;
  text-align: left;
}

.opinion td select {
  padding: 10px 14px;
  border: 1px solid #0e0e0e;
  background-color: #c6e4d6;
  border-radius: 4px;
}

/* Recent News Section */
.recent-news {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.news-card {
  background-color: #ffffff;
  padding: 48px;
  border-radius: 24px;
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.news-card img {
  border-radius: 24px;
}

.news-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
}

.news-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.news-content img,
.news-content button {
  width: fit-content;
}

.news-content .news-date-time {
  display: flex;
  gap: 12px;
  font-size: 16px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.7);
}

.news-content h3 {
  font-size: 32px;
  font-weight: 700;
}

.news-content p {
  font-size: 16px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.7);
}

/* Donate Section */
.donate-section {
  text-align: center;
}

.donate {
  padding: 0 48px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.amount-cards {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.amount-card {
  background-color: #ffffff;
  color: rgb(14, 14, 14, 0.8);
  padding: 40px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  cursor: pointer;
}

.amount-card:hover {
  background-color: #c6e4d6;
}

.amount-card h3 {
  font-size: 40px;
  font-weight: 700;
}

.active {
  background-color: #c6e4d6;
}

.donate input {
  background: #ffffff;
  border: none;
  border-bottom: 1px solid rgba(14, 14, 14, 0.15);
  padding: 20px 40px;
  height: 64px;
  width: 1032px;
}

input::placeholder {
  text-align: center;
  color: rgba(14, 14, 14, 0.3);
  font-size: 20px;
  font-weight: 400;
}

.donate button {
  width: fit-content;
}

/* Subscribe Newsletter Section */
.subscribe-section {
  padding: 80px 100px;
  background-color: #c6e4d6;
  border-radius: 16px;
  text-align: center;
}

.subscribe-content {
  width: 750px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.subscribe {
  display: flex;
}

.subscribe button {
  border-radius: 0 8px 8px 0;
}

.subscribe input {
  border-radius: 8px 0 0 8px;
  padding: 18px 40px;
  border: none;
  width: 100%;
}

.subscribe-section p {
  margin-top: 24px;
  font-size: 16px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.7);
}

/* Footer Section */
footer {
  width: 100%;
  background-color: #ffffff;
  padding: 50px 160px;
  text-align: center;
}

footer h1 {
  font-size: 32px;
  font-weight: 700;
}

footer hr {
  margin: 32px 0;
  border: 1px solid rgba(14, 14, 14, 0.15);
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 24px;
}
