@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fira Sans", sans-serif;
  background-color: #f1f1f3;
}

header,
section {
  margin-bottom: 80px;
}

/* Common Styles */

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 160px;
}

.primary-btn {
  padding: 17px 34px;
  background-color: #006a50;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
}

.section-title {
  font-size: 40px;
  font-weight: 700;
  color: #0e0e0e;
  margin-bottom: 32px;
}

.section-description {
  font-size: 16px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.7);
  margin-bottom: 32px;
}

.cards {
  display: flex;
  gap: 24px;
}

/* Navbar Section  */

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}

#navbar h1 {
  font-size: 32px;
  font-weight: 700;
}

#navbar button {
  background-color: transparent;
  cursor: pointer;
  padding: 15px 30px;
  color: #006a50;
  border: 1px solid #006a50;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
}

/* Hero Section */
.hero {
  background-color: #c6e4d6;
  display: flex;
  justify-content: space-between;
  gap: 64px;
  align-items: center;
  padding: 80px 100px;
  border-radius: 24px;
  margin-top: 20px;
}

.hero h2 {
  font-size: 24px;
  font-weight: 500;
  color: rgba(13, 13, 13, 0.5);
}

.hero h1 {
  font-size: 56px;
  font-weight: 700;
  color: #0e0e0e;
  margin: 16px 0 24px 0;
}

/* Pillar Card Section */
.pillar-card {
  background-color: #ffffff;
  padding: 24px;
  border-radius: 16px;
  border: 1px solid rgba(14, 14, 14, 0.15);
}

.pillar-card img {
  width: 64px;
  margin-bottom: 24px;
}

.pillar-card h3 {
  font-size: 20px;
  font-weight: 700;
  color: #0e0e0e;
  margin-bottom: 12px;
}

.pillar-card p {
  font-size: 16px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.7);
}

/* Vision Card Section */
.vision-card {
  padding: 32px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.vision-card-blue {
  background-color: rgba(84, 143, 245, 0.2);
}

.vision-card-blue button {
  background-color: #5490f5;
}

.vision-card-green {
  background-color: #c6e4d6;
}

.vision-card-green button {
  background-color: #09a15c;
}

.vision-card-yellow {
  background-color: #f7ebcf;
}

.vision-card-yellow button {
  background-color: #ffc239;
}

.vision-card img {
  width: 64px;
  margin-bottom: 24px;
}

.vision-card h3 {
  font-size: 20px;
  font-weight: 700;
  color: #0e0e0e;
  margin-bottom: 12px;
}

.vision-card p {
  font-size: 16px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.7);
}

.vision-card button {
  width: fit-content;
  margin-top: 24px;
  padding: 11px 20px;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
}

/* Quote Section */
.quote {
  background-image: url("../assets/quote-bg.png");
  background-position: 24px 24px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  padding: 48px 24px;
}

.quote p {
  font-size: 16px;
  font-weight: 400;
  color: rgb(14, 14, 14, 0.8);
  margin-bottom: 12px;
}

.quote h3 {
  font-size: 20px;
  font-weight: 600;
  color: rgb(14, 14, 14, 0.8);
  margin-bottom: 4px;
}

.quote h4 {
  font-size: 16px;
  font-weight: 400;
  color: rgb(14, 14, 14, 0.6);
}

/* Opinion Section */
.opinion {
  padding: 32px;
  background-color: #ffffff;
  border-radius: 16px;
}

.opinion table {
  width: 100%;
  border-collapse: collapse;
}

.opinion thead {
  background-color: #c6e4d6;
}

.opinion th,
.opinion td {
  border: 1px solid rgba(14, 14, 14, 0.15);
  padding: 24px;
  text-align: left;
}

.opinion td select {
  padding: 10px 14px;
  border: 1px solid #0e0e0e;
  background-color: #c6e4d6;
  border-radius: 4px;
}
